* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: #fff;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 10px 0 0 0;
  justify-content: space-around;
  flex: 1;
}

#game {
  flex: 1 0 800px;
}

.action-board,
.action-selection,
.action-list {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
}

.action-selection {
  flex: 1 0 200px;
}

button {
  font-size: 1em;
  width: 100%;
  text-align: left;
  padding: 10px;
  user-select: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.4s;

  &:disabled {
    opacity: .7;
  }

  &:not([disabled]):hover {
    cursor: pointer;
    background-color: #25b454;
    color: white;
  }

  .action-selection &:last-child {
    background: #1976d2;
    color: #fff;
    text-align: center;

    &:not([disabled]):hover {
      box-shadow: 0 0 0 40px #2196f3 inset;
    }
  }

  &[data-action="jumpRight"] i {
    transform: rotate(45deg);
  }

  &[data-action="jumpLeft"] i {
    transform: rotate(-45deg);
  }
}

.action-list {
  flex: 3 0 200px;
  padding: 8px;

  &__header {
    display: flex;
    margin-bottom: 10px;

    &__title {
      flex: 2;
    }

    button {
      flex: 1;
      background-color: #f44336;
      color: #fff;
      text-align: center;
      border-radius: 5px;

      &:not([disabled]):hover {
        background-color: #ff5722;
      }
    }
  }

  & ol {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    margin: 2px;
    font-size: 16px;
    flex-basis: 90px;
    padding: 1px;
    padding-bottom: 3px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-family: FontAwesome;

    &--run {
      &Left {
        background-color: #03a9f4;
        &::before {
          content: "\f060";
        }
      }
      &Right {
        background-color: #03a9f4;
        &::before {
          content: "\f061";
        }
      }
    }

    &--jump {
      &Left {
        background-color: #00bcd4;
        &::before {
          display: block;
          transform: rotate(-45deg);
          content: "\f062";
        }
      }
      &Right {
        background-color: #00bcd4;
        &::before {
          display: block;
          transform: rotate(45deg);
          content: "\f062";
        }
      }
    }

    &--climb {
      background-color: #ff5722;
      &::before {
        content: "\f062";
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #e3e3e3;
  justify-content: space-between;
}
